<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>魔法信系统</title>
<!-- META -->
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- /META -->
<!-- FONTS -->
<link rel="stylesheet" href="resources/css/font-awesome.min.css">
<!-- /FONTS -->
<!-- CSS -->
<link rel="stylesheet" href="resources/css/bootstrap.css">
<link rel="stylesheet" href="resources/css/public.css">
<script type="text/javascript">
    function logOut(){
        if(confirm('退出后需要重新登录，确定退出？')){
          //调用注销接口
          var xhr = createXHR();
          xhr.open('get', '/boss/nofilter/logout', false);
          xhr.send(null);
          xhr.onreadystatechange = function(){
            if(xhr.readyState == 4){
              if( (xhr.status>=200 && xhr.status<300) || xhr.status == 304 ){
                console.log('注销成功', xhr.requseText);
              }else{
                console.log('request was unsuccessful:' + xhr.status);
              }
            }
          }
          //退出登录
          location.href='/logout.html';
        }
      }
    
    function createXHR(){
        if(typeof XMLHttpRequest != 'undefined'){ //ie7+
          return new XMLHttpRequest();
        }else if(typeof ActiveXObject != 'undefined'){
          if(typeof arguments.callee.activeXString != 'string'){
            var versions = ['MSXML2.XMLHttp.6.0', 'MSXML2.XMLHttp.3.0',
            'MSXML2.XMLHttp'], i, len;
            for(i=0,len=versions.length; i<len; i++){
              try{
                new ActiveXObject(versions[i]);
                arguments.callee.activeXString = versions[i];
                break;
              }catch(ex){

              }
            }
          }
          return new ActiveXOBject(argument.callee.activeXString); //当前函数的属性 activeXString
        }else{
          throw new Error('no xhr object available.');
        }
   }
    
  </script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<!-- 窄屏 展开菜单按钮 -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">魔法信系统</a>
			<div ng-controller="MainController as menu">
				<span class="nickname"><a style="margin-right: 15px"
					href="javascript:void(0);" onclick="logOut()">退出</a></span> <span
					class="nickname">当前登陆用户：<i ng-bind="loginName"></i></span>
			</div>
		</div>
		<!-- /窄屏 展开菜单按钮 -->
	</div>
	<style>
.showoutLayer {
	display: block;
}
</style>
	<div class="body container-fluid"
		ng-controller="RecordController as vm">

		<!-- 左侧导航 -->
		<ul class="nav bs-docs-sidenav col-sm-2">
			<li>
				<ul class="nav">
						<li><a href="/wallet.html">用户钱包列表</a> 
					    <a href="/topic.html">话题列表</a>
					    <a href="/hotTopic.html">热门话题列表</a>
					    <a href="/activity.html">活动列表</a>
					    <a href="/activitycomment.html">活动评论列表</a>
					    <a href="/activityreport.html">活动举报列表</a>
					    <a href="/company.html">公司列表</a>
						<a href="/shop.html">店铺列表</a>
						<a href="/shopFans.html">店铺粉丝列表</a>
						<a href="/feedcomment.html">动态评论列表</a>
						<a href="/redpacket.html">发放红包列表</a>
						<a href="/ordergoods.html">优惠买单交易列表</a>
						<a href="/advertisement.html">广告列表</a>
						<a href="/userAccount.html">用户账户列表</a></li>
				</ul>
			</li>
		</ul>
		<!-- /左侧导航 -->

		<!-- 正文 -->
	<div class="container-fluid left-border col-sm-10">
			<div class="navbar-form navbar-left" role="search">
				<div class="form-group">
					活动主题：<input type="text" class="form-control" ng-model="vm.address">
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-default" id="enterListener"
						ng-click="vm.page=1;vm.recordList(vm)">搜索</button>
				</div>
			</div>

			<table class="table table-bordered margint15">
				<thead>
					<tr>
						<th>举报ID</th>
						<th>用户ID</th>
						<th>活动ID</th>
						<th>举报描述</th>
						<th>举报类型ID</th>
						<th>举报来源</th>
						<th>处理状态</th>
						<th>处理结果</th>
						<th>处理意见</th>
						<th>处理方式ID</th>
						<th>编辑</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in vm.payRecordList">
						<td>{{$index+1+(vm.currentPage-1)*10}}</td>
						<td ng-bind="list.id"></td>
						<td ng-bind="list.userId"></td>
						<td ng-bind="list.activityId"></td>
						<td ng-bind="list.reportContent"></td>
						<td ng-bind="list.reportTypeIds"></td>
						<td ng-bind="list.sourceType"></td>
						<td ng-bind="list.deakType"></td>
						<td ng-bind ="list.agreeType"></td>
						<td ng-bind ="list.feedBack"></td>
						<td ng-bind ="list.reportDoId"></td>
						<td ng-bind="list.remark"></td>
					</tr>
					<tr>
						<th colspan="11">共<span style="text-decoration: underline;"
							ng-bind="vm.totalItems"></span>条记录
						</th>
					</tr>
				</tbody>
			</table>
			<ul class="pagination">
				<li ng-click="vm.btnPrevious()"><a href="javascript:;"
					aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
				</a></li>
				<li ng-repeat="(k, v) in vm.numPages"
					ng-class="{'on': k==vm.currentPage-1}"
					ng-click="vm.getNewList(k+1)"><a href="javascript:;">{{v.a}}</a></li>
				<li ng-click="vm.btnNext()"><a href="javascript:;"
					aria-label="Next"> <span aria-hidden="true">&raquo;</span>
				</a></li>
			</ul>

		</div>
		<!-- /正文 -->

	</div>
	<script src="/resources/angular/angular.js"></script>
	<script src="/resources/js/cms.auth.js"></script>
	<script>
var app = angular.module('myApp', ['cms.auth']);
app.factory('utils', ['$http', '$q','$filter',function($http, $q, $filter){
    return {
    	recordList: recordList
    	
    }

    function recordList(query){
        var deferred = $q.defer();
        var defaultQuery = {
        	adress:"",
	        page: 0
	     },q = {};
        angular.forEach(defaultQuery, function(item, key){
          q[key] = query[key] == undefined ? defaultQuery[key] : query[key];
        })
        $http.get('/activityreport/list', {params: q})
        .then(function(response){  // 请求成功
          if(response.data.result){
            deferred.resolve({
              totalItems:response.data.data.totalItems,
              data:response.data.data.list
            });
          } else{
            deferred.resolve([])
          }
        })
        .catch(function(response){
          deferred.reject('网络故障');
        });

        return deferred.promise;
      }
    
   
     

}]);

app.controller("RecordController", ['utils', function(utils){
    var vm = this;
    vm.nav = 3;
    vm.recordList = recordList;
    
    vm.page = 1;
     
    //当前页面
    vm.currentPage=1;
    vm.numPages = [];

    //上一页
    vm.btnPrevious = function(){
    	if(vm.currentPage <= 1){ return false;} //如果是第一页，不执行操作
    	vm.getNewList(vm.currentPage - 1);
    }

    //下一页
    vm.btnNext = function(){
    	if(vm.currentPage >= vm.numPages.length){ return false;} //如果是最后一页，不执行操作
    	vm.getNewList(vm.currentPage + 1);
    }

    //对应页面
    vm.getNewList = function(currentPage){ //获取分页数据
      if(!vm.currentPage){ return false;}else{ vm.currentPage = currentPage;}
      utils.recordList({
    	  page:vm.currentPage,
      }).then(function(response){
    	  vm.totalItems = response.totalItems;
    	  vm.numPages  = (function(){
              var i = Math.ceil(response.totalItems / 10);
              var arr = [];
              for(var j = 0; j < i; j++){
            	  arr[j] = {a: j+1};
              }
              return arr;
            }());
          vm.payRecordList = response.data;
      })

    },


    recordList({page:1});

    function recordList(query){
      utils.recordList(query).then(function(response){
    	  vm.totalItems = response.totalItems;
    	  vm.numPages  = (function(){
              var i = Math.ceil(response.totalItems / 10);
              var arr = [];
              for(var j = 0; j < i; j++){
            	  arr[j] = {a: j+1};
              }
              return arr;
            }());
          vm.payRecordList = response.data;
      }).catch(function(){
      });
    }
    
    
}]);
</script>

	<script>
	app.controller('MainController', function($scope, $http) {
		$scope.loginName = getLoginName();

		function getLoginName() {
			return localStorage['loginName'] || '';
		}
	});
</script>
</body>
</html>